:root {
    --primary-bg: #1e1e2f;
    --sidebar-width: 250px;
    --text-color: #ffffff;
    --active-color: #4CAF50;
    --hover-color: #2c2c44;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    color: #333;
}

.container {
    display: flex;
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    width: var(--sidebar-width);
    background: var(--primary-bg);
    color: var(--text-color);
    transition: all 0.3s;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar-header {
    padding: 20px;
    background: #1a1a2e;
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    color: var(--active-color);
    background: var(--hover-color);
}

.sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #232336;
}

/* Main Content Styles */
/* Main Content Styles */
#content {
    width: calc(100% - var(--sidebar-width));
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: var(--sidebar-width);
}



h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}