<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infrastructure Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="sidebar">
            <div class="sidebar-header">
                <h2>관리 패널</h2>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="#infraSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">인프라
                        진단</a>
                    <ul class="collapse list-unstyled" id="infraSubmenu">
                        <li>
                            <a href="#" class="nav-link" data-url="/infrastructure/web-server">웹서버 진단</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="content">
            <nav class="navbar">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
            </nav>
            <div id="main-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>